@import url('pages.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("~/assets/Inter.woff2") format("woff2");
}

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
  font-family: Inter, sans-serif;
  color: white;
  background-color: #0c0c0c;
}

pre[class*="language-"] {
  border: none !important;
  box-shadow: none !important;
}
